<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hpk.pr131.hpk_beta">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.ListAllLeadershipActivity"
            android:label="@string/title_activity_list_all_leadership"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DetailLeaderActivity"
            android:theme="@style/Theme.AppCompat" />
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".Activity.HistoryActivity"
            android:label="@string/title_activity_history"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.ReplacementActivity"
            android:label="@string/title_activity_replacement"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.NewsActivity"
            android:label="@string/title_activity_news"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activity.DetailNews"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Activity.MapActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Activity.ContactActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity
            android:name=".Activity.ApplicantsActivity"
            android:theme="@style/Theme.AppCompat" />
        <activity android:name=".Activity.TimetableActivity"
            android:theme="@style/Theme.AppCompat" />
    </application>

</manifest>